cloudflare-app[app-id="a-better-browser"] {
  display: block;
  background: #45484d;
  color: #fff;
  line-height: 1.45;
  position: fixed;
  z-index: 90000000;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em 1em;
  text-align: center;
  user-select: none;
}

cloudflare-app[app-id="a-better-browser"][data-visibility="hidden"] {
  display: none;
}

cloudflare-app[app-id="a-better-browser"] cloudflare-app-message {
  display: block;
}

cloudflare-app[app-id="a-better-browser"] a {
  text-decoration: underline;
  color: #ebebf4;
}

cloudflare-app[app-id="a-better-browser"] a:hover,
cloudflare-app[app-id="a-better-browser"] a:active {
  color: #dbdbeb;
}

cloudflare-app[app-id="a-better-browser"] cloudflare-app-close {
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  position: absolute;
  right: .4em;
  top: .35em;
  height: 1em;
  width: 1em;
  line-height: 1;
}

cloudflare-app[app-id="a-better-browser"] cloudflare-app-close:active {
  transform: translateY(1px);
}

cloudflare-app[app-id="a-better-browser"] cloudflare-app-close:hover {
  opacity: .9em;
  color: #fff;
}
